.movies {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	background-color: #372549;
}

.titleStyle {
	height: 60px;
	width: 100%;
	background: #1a1423;
	font-family: "MuseoModerno", cursive;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	color: white;
}

.inputDiv {
	position: relative;
	display: flex;
}

.inputSearch {
	position: relative;
	border-radius: 10px;
	width: 270px;
	padding: 5px 0 5px 30px;
}

.inputIcon {
	position: absolute;
	left: 5px;
	top: 5px;
}

.selectedMovie {
	color: white;
	width: 80%;
	padding: 5%;
	border-radius: 10px;
	display: flex;
	justify-content: space-around;
	background-color: #714674;
	position: relative;
}

.info {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
}

.text h1 {
	font-size: 20px;
	margin-bottom: 20px;
}

.text p {
	font-size: 14px;
}

.selectedMovie .text {
	width: 40%;
	display: flex;
	flex-direction: column;
}

.selectedMovie img {
	width: 300px;
}

.selectedMovie button {
	display: flex;
	background-color: Transparent;
	background-repeat: no-repeat;
	border: none;
	cursor: pointer;
	overflow: hidden;
	outline: none;
	color: white;
}

.selectedMovie .closeButton {
	position: absolute;
	right: 20px;
	top: 20px;
}

.selectedMovie button p {
	padding: 5px;
	color: white;
}

.carousel {
	display: flex;
	width: 100%;
	overflow-x: scroll;
}

.carousel img {
	width: 300px;
}
.container {
	padding: 40px;
	width: 100%;
}

.slick-slide img {
	margin: auto;
	width: 350px;
	border-radius: 10px;
}
