@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");

div#main-header {
	height: 60px;
	width: 100%;
	background: #1a1423;
	font-family: "MuseoModerno", cursive;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.link {
	text-decoration: none;
	font-size: 18px;
	font-weight: bold;
	color: #fff;
	transition: all 0.5s;
}
.link:hover {
	color: #74b33a;
}

.logo img {
	width: 50px;
}

.logo {
	align-items: center;
	justify-content: center;
	display: flex;
}

.logo p {
	padding-left: 10px;
	font-size: 26px;
	color: #74b33a;
	font-family: "MuseoModerno", cursive;
}
